body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  box-sizing: inherit;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 32px 0;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.pokemons {
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 32px;
  margin-top: 72px;
}

@media only screen and (max-width: 1300px) {
  .pokemons {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .pokemons {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pokemon-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 8px;
  background-color: #fafafa;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.pokemon-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.pokemon-card__title {
  padding-left: 16px;
  font-size: large;
  font-weight: 500;
  text-transform: capitalize;
}

.pokemon-card__image {
  width: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: xx-large;
}

.modal-content {
  margin: auto;
  width: 50%;
  min-width: 370px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3e4044;
  margin-top: 32px;
  border-radius: 24px;
}

.modal-content__title {
  text-transform: capitalize;
}

.modal__content__image {
  max-width: 100%;
}
